<div>
  <div class="main-page-view">
    <div id="hnc-header">
      <img id="logo-img" src="../assets/images/txt-logo.png" />
      <!-- <div class="button-container">
        <a
          href="https://www.classy.org/campaign/urban-txt-teens-exploring-technology/c266418"
          target="_blank"
          class="button"
          >Donate

          <i class="fas fa-heart"></i>
        </a>
      </div> -->
    </div>
    <br />
    <br />
    <div id="hnc-2021-banner">
      <img id="banner-img" src="../assets/images/hnc-header-image.png" />
      <div class="banner-text">
        <div class="banner-title">
          <h1>
            Welcome to TXT’s Annual <br />
            Hustle N' Code Hackathon!
          </h1>
        </div>
        <div class="banner-subtitle">
          <h2>December 11, 2021</h2>
          <h2>9:00AM - 6:00PM</h2>
        </div>
      </div>
    </div>

    <div id="about-hnc">
      <img id="about-hnc-img" src="../assets/images/hnc-information.jpg" />
      <div class="about-hnc-text">
        <div class="about-hnc-title">
          <h1>What is the Hustle N’ Code Hackathon?</h1>
        </div>
        <div class="about-hnc-desc">
          <p class="hnc-desc">
            TXT’s Hustle N’ Code Hackathon is an annual Winter event aimed at
            inspiring youth who live in public housing developments, inspiring
            youth that live in Nickerson Gardens to address pressing issues in
            their communities using technology. Our hackathons are unique by
            bringing tech companies into historically marginalized communities
            like South LA. For Nine hours, students learn to code and develop
            mobile apps with the help of more than 150 tech industry
            professionals.
          </p>

          <div class="about-hnc-subtitle">
            <h1>Benefits of Hustle N' Code Hackathon</h1>
          </div>
          <ul class="about-list-group">
            <li class="about-list-item">
              Free One Day Coding Event for Students 7th to 12th Grade.
            </li>
            <li class="about-list-item">
              Student will learn to code HTML, CSS and JavaScript with Tech
              Professionals, including Salesforce, Snapchat and Google.
            </li>
            <li class="about-list-item">
              Students will work in a team of 4 to address and solve issues
              ailing their communities through Tech.
            </li>
            <li class="about-list-item">
              Students will be exposed to a Tech Start Up Environment.
            </li>
            <li class="about-list-item">
              Students will have the opportunity to network with professionals
              in the Tech Field.
            </li>
            <li class="about-list-item">
              By the end of the day Students will have the chance to win prizes
              like Laptops, shirts and headphones.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="hnc-signup">
      <div class="signup-container">
        <div class="signup-logo">
          <div class="paper">
            <i class="far fa-file-alt"></i>
          </div>
          <div class="sign-up-title">
            <h1>Ready to Sign Up?</h1>
          </div>
          <div class="signup-desc">
            <h1>When will it be?</h1>
            <p class="answer">Saturday, December 11th from 9am to 6pm</p>
            <h1>Where will it be?</h1>
            <p class="answer">Hybrid - At Nickerson Garden and Zoom</p>
            <h1>Mandatory Orientation</h1>
            <p class="answer">Tuesday, November 30th</p>
          </div>
        </div>

        <img id="qr-code" src="../assets/images/signupQR.png" />
      </div>
    </div>
    <!-- OMITTED UNTIL FURTHER NOTICE -->
    <!-- <div id="hnc-attend">
      <h1>Attend Link</h1>
    </div> -->
    <div id="hnc-sponsors">
      <div class="sponsors-container">
        <div class="sponsor">
          <div class="sponsor-logo">
            <div class="handshake">
              <i class="far fa-handshake"></i>
            </div>
            <div class="sponsor-title">
              <h1>Our Sponsors</h1>
            </div>
          </div>
        </div>
        <div class="all-logo-sponsors">
          <div class="sponsor-one">
            <img id="hacla" src="../assets/sponsors/hacla-logo.png" />
          </div>
          <div class="sponsor-two">
            <img id="snap" src="../assets/sponsors/snap.png" />
          </div>
          <div class="sponsor-three">
            <img id="facebook" src="../assets/sponsors/facebook.png" />
          </div>
          <div class="sponsor-four">
            <img id="broad" src="../assets/sponsors/broad-logo.jpeg" />
          </div>
          <div class="sponsor-five">
            <img id="ccf" src="../assets/sponsors/CCF-logo.png" />
          </div>
        </div>
      </div>

      <div id="hnc-footer">
        <div class="footer-content">
          <div class="txt-mission-section">
            <div class="logo">
              <img id="txt-logo-white" src="../assets/images/footer-logo.png" />
            </div>
            <div class="mission">
              <p>
                We serve young men of color between the 7th and 11th grade who
                are from low income communities. Since 2009, we’ve used the
                concept of developing strong teams as a way for our young men to
                learn about collaboration, ideation, and long-lasting life
                skills. In small teams, our youths learn the process of taking
                an idea from concept to market.
              </p>
            </div>
          </div>
          <div class="txt-socials-section">
            <div class="contact-info">
              <h3>Contact Us</h3>
              <p>3655 South Grand Ave.</p>
              <p>Los Angeles, CA 90007 Ste. 220</p>
              <p>info@urbantxt.com</p>
            </div>
            <div class="social-icons">
              <i id="facebook" class="fab fa-facebook-square"></i>
              <i id="instagram" class="fab fa-instagram"></i>
              <i id="twitter" class="fab fa-twitter"></i>
              <i id="youtube" class="fab fa-youtube"></i>
            </div>
          </div>
          <div class="footer-copyright">
            <p>&copy;TXT: Teens Exploring Technology all rights reserved</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
