// button for donations

a {
    color: white;
}

.button-container{
    text-align: center;
}
.button {
    background-color: #00ADEF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
  }

  .button-white {
    background-color: #fff;
    border: none;
    color: #00ADEF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
  }



.hnc-header {
    background-color: white;

    .logo-img {
        height: auto;
        width: 234px;
        margin: auto;
        display: block;
    }

    h1 {
        text-align: center;
        color: #00ADEF;
    }
}

.hnc-2021-banner {
    background-color: #00ADEF;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: auto;

    .banner-img {
        height: auto;
        width: 300px;
        margin: auto;
        display: block;
    }

    .banner-text {
        text-align: center;
        padding-right: 20px;
        padding-left: 20px;
        color: #fff;

        .banner-title{
            // todo: change font family and font weight
            font-family: Arial, Helvetica, sans-serif;
            font-size: larger;
            font-weight: bold;
        }
        .banner-subtitle{
            // todo: change font family and font weight
            font-family: Arial, Helvetica, sans-serif;
            font-size: large;
            font-weight: bold;
        }

    }
}  

.about-hnc {
    padding-top: 30px;
   padding-bottom: 30px;
    width: 100%;
    height: auto;
    background-color: white;

    .about-hnc-img {
        height: auto;
        width: 500px;
        margin: auto;
        display: block;
    }

    .about-hnc-text {
        text-align: center;
        padding-right: 20px;
        padding-left: 20px;
        color: #00ADEF;

        .about-hnc-title {
            // todo: make this more readable maybe a stroke effect
            font-family: Arial, Helvetica, sans-serif;
            font-size: larger;
            font-weight: bold;
        }

        .about-hnc-desc {
            color: #000;
            // todo: increase the font weight
            // todo: change the font family
            // style add spacing
            font-family: Arial, Helvetica, sans-serif;
            font-size: larger;
            font-weight: bold;

            .hnc-desc {
                font-size: larger;
                text-align: justify;

            }
         }
    }

    .hnc-list-container {
        font-family: Arial, Helvetica, sans-serif;
        font-size: larger;
        font-weight: bold;
        .about-hnc-subtitle {
            text-align: center;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 2%;
            color: #00ADEF;
        }

        ul li::before {
            content: "\2022";
            color: #00ADEF;
            font-weight: bold;
            display: inline-block; 
            width: 1em;
            margin-left: -1em;
          
        }

        .about-list-group{
            padding: 5%;

            .about-list-item {
                text-align: justify;
                margin-bottom:4%;
                font-weight: bolder;
                font-size: larger;
            }
        }
    }

}

.hnc-signup {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: auto;
    background-color: #00ADEF;
    margin: auto;
    display: block;
    
    .qr-code {
        margin: auto;
        display: block;
        width: 50%;
        height: auto;
        margin-bottom: 5%;
    }

    .signup-logo {
        color: #fff;
        text-align: center;
        .paper {
            // background-color: #fff;
            text-align: center;
            font-size: 200px;
            width: 40%;
            margin: auto;
            display: block; 
            border-radius: 70%;
            transform: rotate(-10deg);
        }

        .sign-up-title {
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: x-large;
        }

    }

    .signup-desc {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: large;
        padding-bottom: 5%;

        .answer {
            font-size: 25px;
            color: black;
        }
    }

    .sign-up-links {
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: large;
        padding: 1%;

        .link-heading {
            text-align: center;
        }
    }

}

.hnc-sponsors {
    
    padding-top: 30px;
   margin-left: auto;
   margin-right: auto;

    width: 100%;
    height: auto;
   
    .sponsors-container {
        font-family: Arial, Helvetica, sans-serif;
        font-size: x-large;
        font-weight: bold;
        .sponsor {
            .sponsor-logo {
                color: #00ADEF;
                text-align: center;
                .handshake {
                    // background-color: #00ADEF;
                    text-align: center;
                    font-size: 180px;
                    width: 40%;
                    margin: auto;
                    display: block; 
                    border-radius: 70%

                }

                .sponsor-title {
                    color: #00ADEF;
                }
            }

        }

        .all-logo-sponsors {
            text-align: center;
            .sponsor-one {
                padding-top: 5%;
                padding-bottom: 5%;
                .hacla {
                    width: 200px;
                    height: auto;
                    
                }
            }
            .sponsor-two {
                
                .snap {
                    width: 200px;
                    height: auto;
                }

            }
            .sponsor-three {
            
                padding-bottom: 5%;
                .facebook {
                    width: 350px;
                    height: auto;
                }
            }
            .sponsor-four {
                padding-top: 5%;
                padding-bottom: 5%;
                .broad {
                    width: 350px;
                    height: auto;
                }
            }
            .sponsor-five {
                padding-top: 8%;
                padding-bottom: 5%;             
                .ccf {
                    width: 350px;
                    height: auto;
                }
            }
        }
    }
}

.hnc-footer {
    background-color: #00ADEF;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: 100%;

    .footer-content {
        .txt-mission-section {

            .logo{
                .txt-logo-white {
                  width: 40%;
                  height: auto;  
                  margin: auto;
                  display: block;
                }

            }

            .mission {
                color: #fff;
                text-align: justify;
                padding-right: 10%;
                padding-left: 10%;
            }

        }
    }

    .txt-socials-section {
        .contact-info {
            color: #fff;
            text-align: center;
        }

        .social-icons {
            color: #fff;
            text-align: center;
            .facebook {
                margin-right: 2%;
                font-size: 40px;
            }
            
            .instagram {
                margin-right: 2%;
                font-size: 40px;
            }

            .twitter {
                margin-right: 2%;
                font-size: 40px;
            }

            .youtube {
                margin-right: 2%;
                font-size: 40px;
            }
          
        }
    }

    .footer-copyright {
        padding-top: 5%;
        color: #fff;
        text-align: center;
    }

}

.main-page-view {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

// Make responsive for Web
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1300px) {
    .hnc-header{
        width: 100%;
        height: 130px;

        .logo-img {
            float: left;
            margin-left: 2%;
            margin-top: 10px
        }

        .button-container{
           float: right;
           margin-right: 2%;
            margin-top: 2%;
        }
        .button {
            background-color: #00ADEF;
            border: none;
            color: white;
            padding: 15px 32px;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
            width: 70%;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 35px;
          }
    }

    .hnc-2021-banner {
        background-color: #00ADEF;
        display:flex;
        justify-content: center;
        height: fit-content;
    }

    .hnc-2021-banner > .img-container{
       width: 500px;
       height: 400px;
       margin-right: 5%;

       .banner-img {
           width: 100%;
           height: auto;
       }

    }

    .hnc-2021-banner > .banner-text{
        width: 500px;
        height: 400px;
        padding-top: 3%;
        margin-left: 5%;
        color: #fff;
        
        .banner-title {
            font-size: larger;
            font-weight: 500;
            
        }

        .banner-subtitle {
            font-size: x-large;
        }
    }

    .about-hnc {
        background-color: #fff;
        display: inline-block;
       
    }

    .about-hnc > .about-hnc-text {
        width: 500px;
        height: 400px;
        margin-left: 10%;

        .about-hnc-subtitle {
            margin:auto;
            display: block;

        }
    
    }

    .about-hnc > .about-image-container {
        width: 500px;
        height: 400px;
        float: right;
        margin-right: 10%;
 

        .about-hnc-img {
            padding-top: 10%;
            height: 100%;
        }
    }

    .about-hnc > .hnc-list-container {
        margin-top: 5%;

        .about-hnc-subtitle {

        }

        .about-list-group {
            padding-left: 10%;
            padding-right: 10%;
        }
    }

    .hnc-signup {
        
            display: inline-block;

        .signup-logo {
            float: left;
            padding:3%;
        }
        
        .sign-up-links {
           overflow: hidden;
           padding:3%;

           .qr-code {
               width: 200px;
               height: auto;
           }

           .button-container {
               margin-top: 10%;

               .button-white {
                   margin-bottom: 4%;
               }
           }
        }
    }

    // Sponsors

    .hnc-sponsors {

        .all-logo-sponsors{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
            grid-gap: 1rem;

            .sponsor-one{
           
            }

            .sponsor-two {
             
            }

            .sponsor-three {
                .facebook {
                    margin-top: 10%;
                  
                }
            }

            .sponsor-four {
                .broad {
                    
                    padding: 10%;
                }
            }

            .sponsor-five {
                .ccf {
                    margin-bottom: 10%;
                    padding-bottom: 5%;
                   
                }
            }
        }
    }

    // footer
    .hnc-footer {
        
        .footer-content {
            display: inline-block;
            .txt-mission-section {
                float: left;
                width: 50%;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                font-size: larger;
            }

            .txt-socials-section {
                overflow: hidden;
                padding-top: 5%;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                font-size: larger;

                .social-icons {
                    
                    i {
                        font-size: 50px;
                        margin-right: 2%;
                    }
                }
               
            }
        

            .footer-copyright {

            }
        }
    }
        
}
