<div>
  <div class="main-page-view">
    <div id="hnc-header">
      <img id="logo-img" src="../assets/images/txt-logo.png" />
      <div class="button-container">
        <a
          href="https://www.classy.org/campaign/urban-txt-teens-exploring-technology/c266418"
          target="_blank"
          class="button"
          >Donate
          <i class="fas fa-heart"></i>
        </a>
      </div>
    </div>
    <br />
    <br />
    <div id="hnc-2021-banner">
      <img id="banner-img" src="../assets/images/hnc-header-image.png" />
      <div class="banner-text">
        <div class="banner-title">
          <h1>
            Welcome to TXT’s Annual <br />
            Hustle N' Code Hackathon!
          </h1>
        </div>
        <div class="banner-subtitle">
          <h2>December 11, 2021</h2>
          <h2>9:00AM - 6:00PM</h2>
        </div>
      </div>
    </div>

    <div id="about-hnc">
      <img id="about-hnc-img" src="../assets/images/hnc-information.jpg" />
      <div class="about-hnc-text">
        <div class="about-hnc-title">
          <h1>What is the Hustle N’ Code Hackathon?</h1>
        </div>
        <div class="about-hnc-desc">
          <p>
            TXT’s Hustle N’ Code Hackathon is an annual Winter event aimed at
            inspiring youth who live in public housing developments (i.e. “The
            Projects”) to address pressing issues in their communities using
            technology. Our hackthons are unique by bringing tech companies into
            historically marginalized communities like South LA.
          </p>
        </div>
      </div>
    </div>

    <div id="hnc-signup">
      <div class="signup-container">
        <div class="signup-logo">
          <div class="paper">
            <i class="far fa-file-alt"></i>
          </div>
          <div class="sign-up-title">
            <h1>Ready to Sign Up</h1>
          </div>
        </div>

        <img id="qr-code" src="../assets/images/signupQR.png" />

        <div class="signup-desc"></div>
      </div>
    </div>
    <!-- OMITTED UNTIL FURTHER NOTICE -->
    <!-- <div id="hnc-attend">
      <h1>Attend Link</h1>
    </div> -->
    <div id="hnc-resources">
      <div class="resource-container">
        <div class="student-container">
          <div class="student-logo">
            <div class="student">
              <i class="fas fa-user-graduate"></i>
            </div>
            <div class="student-title">
              <h1>Student Resources</h1>
            </div>
          </div>
        </div>
        <div class="volunteer-container">
          <div class="volunteer-logo">
            <div class="volunteer">
              <i class="fas fa-users"></i>
            </div>
            <div class="volunteer-title">
              <h1>Volunteer Resources</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="hnc-footer">
      <div class="footer-content">
        <div class="txt-mission-section">
          <div class="logo">
            <img id="txt-logo-white" src="../assets/images/footer-logo.png" />
          </div>
          <div class="mission">
            <p>
              We serve young men of color between the 7th and 11th grade who are
              from low income communities. Since 2009, we’ve used the concept of
              developing strong teams as a way for our young men to learn about
              collaboration, ideation, and long-lasting life skills. In small
              teams, our youths learn the process of taking an idea from concept
              to market.
            </p>
          </div>
        </div>
        <div class="txt-socials-section">
          <div class="contact-info">
            <h3>Contact Us</h3>
            <p>3655 South Grand Ave.</p>
            <p>Los Angeles, CA 90007 Ste. 220</p>
            <p>info@urbantxt.com</p>
          </div>
          <div class="social-icons">
            <i id="facebook" class="fab fa-facebook-square"></i>
            <i id="instagram" class="fab fa-instagram"></i>
            <i id="twitter" class="fab fa-twitter"></i>
            <i id="youtube" class="fab fa-youtube"></i>
          </div>
        </div>
        <div class="footer-copyright">
          <p>&copy;TXT: Teens Exploring Technology all rights reserved</p>
        </div>
      </div>
    </div>
  </div>
</div>
